* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
/* CSS navbar */
header {
    display: flex;
    justify-content: end;
    background: orange;
    height: 50px;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin-right: 5px;
}

nav li{
    padding: 10px 30px;
    background: rgba(0, 128, 0, 0.164);
    margin-top: 6px;
    border-radius: 6px;
}
li a {
    color: #000;
    font-size: 16px;
}
li:hover {
    transform: scale(1.05);
}
li a:active{
    text-decoration: underline;
}
/* CSS navbar End */

article {
    padding: 10px;
}
article h1 {
    text-transform: capitalize;
    margin: 15px 0 20px;
}

